@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for Óptica Visión */
@layer base {
    body {
        @apply bg-background-light text-text-main font-sans;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #137fec;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #0f6acc;
}